services:
  dozzle:
    container_name: dozzle
    image: amir20/dozzle:v8.14.8
    env_file: ./.env
    restart: unless-stopped
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - 8002:8080
    environment:
      DOZZLE_ENABLE_ACTIONS: "true"
      DOZZLE_ENABLE_SHELL: "true"

  pihole:
    container_name: pihole
    image: pihole/pihole:2025.11.1
    env_file: ./.env
    restart: unless-stopped
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "8005:443/tcp"
    environment:
      PIHOLE_DNS_1: 8.8.8.8
      PIHOLE_DNS_2: 8.8.4.4
      FTLCONF_dns_listeningMode: 'all'
      FTLCONF_webserver_api_password: '${PIHOLE_FTLCONF_webserver_api_password}'
      PIHOLE_UID: '${PUID}'
      PIHOLE_GID: '${PGID}'
    dns:
      - 127.0.0.1
    volumes:
      - /mnt/storage/docker/data/pihole/etc-pihole:/etc/pihole
    cap_add:
      - NET_ADMIN
      - SYS_TIME
      - SYS_NICE

  heimdall:
    container_name: heimdall
    image: lscr.io/linuxserver/heimdall:2.7.6
    env_file: ./.env
    restart: unless-stopped
    volumes:
      - /mnt/storage/docker/data/heimdall:/config
    ports:
      - 8008:80

  beszel:
    image: henrygd/beszel:0.18.2
    container_name: beszel
    env_file: ./.env
    restart: unless-stopped
    ports:
      - "8016:8090"
    volumes:
      - /home/tim/.beszel_data:/beszel_data
      - /var/run/beszel-socket:/beszel_socket

  beszel-agent:
    image: henrygd/beszel-agent:0.18.2
    container_name: beszel-agent
    env_file: ./.env
    restart: unless-stopped
    network_mode: host
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /var/run/beszel-socket:/beszel_socket
      - /home/tim/.beszel_agent_data:/var/lib/beszel-agent
      - /mnt/storage/.beszel:/extra-filesystems/sdb2__Storage:ro
    environment:
      PORT: 45876
      KEY: '${BESZEL_AGENT_KEY}'
      TOKEN: '${BESZEL_TOKEN}'
      HUB_URL: '${BESZEL_HUB_URL}'
      LISTEN: /beszel_socket/beszel.sock