services:
  gluetun:
    image: qmcgaw/gluetun:v3
    env_file: ./.env
    container_name: gluetun
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    ports:
      - 8888:8888/tcp # HTTP proxy
      - 8388:8388/tcp # Shadowsocks
      - 8388:8388/udp # Shadowsocks
    environment:
      - VPN_SERVICE_PROVIDER=airvpn
      - SERVER_COUNTRIES=Netherlands
      - FIREWALL_OUTBOUND_SUBNETS=172.60.0.0/24
      - FIREWALL_VPN_INPUT_PORTS=49906
      - VPN_IPV6=off
    volumes:
      - /opt/dockerdata/gluetun:/gluetun
    restart: unless-stopped
    networks:
      - gluetun_network
      - caddy_network

  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:4.6.3
    container_name: qbittorrent
    env_file: ./.env
    environment:
      - WEBUI_PORT=8081
      - PUID=${PUID}
      - PGID=${PGID}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /opt/dockerdata/qbittorrent:/config
      - /mnt/storage/plexmedia:/data
    restart: unless-stopped
    network_mode: service:gluetun
    depends_on:
      - gluetun

  sonarr:
    image: lscr.io/linuxserver/sonarr:4.0.15
    env_file: ./.env
    container_name: sonarr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /opt/dockerdata/sonarr:/config
      - /mnt/storage/plexmedia:/data
    restart: unless-stopped
    network_mode: service:gluetun

  radarr:
    image: lscr.io/linuxserver/radarr:6.0.4
    container_name: radarr
    env_file: ./.env
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /opt/dockerdata/radarr:/config
      - /mnt/storage/plexmedia:/data
    restart: unless-stopped
    network_mode: service:gluetun

  lidarr:
    image: lscr.io/linuxserver/lidarr:3.1.0
    container_name: lidarr
    env_file: ./.env
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /opt/dockerdata/lidarr:/config
      - /mnt/storage/plexmedia:/data
    restart: unless-stopped
    network_mode: service:gluetun

  bazarr:
    image: lscr.io/linuxserver/bazarr:1.5.4
    container_name: bazarr
    env_file: ./.env
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /opt/dockerdata/bazarr:/config
      - /mnt/storage/plexmedia:/data
    restart: unless-stopped
    network_mode: service:gluetun

  prowlarr:
    image: lscr.io/linuxserver/prowlarr:2.3.0
    container_name: prowlarr
    env_file: ./.env
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - /opt/dockerdata/prowlarr:/config
    restart: unless-stopped
    network_mode: service:gluetun

  overseerr:
    image: linuxserver/overseerr:1.34.0
    container_name: overseerr
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
    volumes:
      - /opt/dockerdata/overseerr:/config
    restart: unless-stopped
    network_mode: service:gluetun

  snowflake-proxy:
    image: containers.torproject.org/tpo/anti-censorship/pluggable-transports/snowflake:latest
    container_name: snowflake-proxy
    restart: unless-stopped
    network_mode: service:gluetun
    depends_on:
      - gluetun
    command: [ "-verbose", "-log", "/dev/stdout" ]

networks:
  gluetun_network:
    name: gluetun_network
    ipam:
      config:
        - subnet: 172.60.0.0/24

  caddy_network:
    external: true
    name: caddy_network