services:
  vaultwarden:
    image: vaultwarden/server:latest
    container_name: vaultwarden
    restart: always
    environment:
      DOMAIN: https://vaultwarden.tim-boo.com
      SIGNUPS_ALLOWED: false
    volumes:
      - /opt/dockerdata/vaultwarden:/data
    networks:
      - caddy_network

networks:
  caddy_network:
    external: true
    name: caddy_network