services:
  # librespeed:
  #   container_name: librespeed
  #   image: ghcr.io/librespeed/speedtest:latest
  #   restart: unless-stopped
  #   environment:
  #     MODE: standalone
  #   volumes:
  #     - /opt/dockerdata/librespeed:/database

  # yt-dlp-webui:
  #   container_name: yt-dlp-webui
  #   image: ghcr.io/marcopiovanello/yt-dlp-web-ui:latest
  #   restart: unless-stopped
  #   volumes:
  #     - /opt/dockerdata/yt-dlp-webui/downloads:/downloads
  #     - /opt/dockerdata/yt-dlp-webui/config:/config

  karakeep:
    container_name: karakeep
    image: ghcr.io/karakeep-app/karakeep:${KARAKEEP_VERSION:-release}
    restart: unless-stopped
    volumes:
      - /opt/dockerdata/karakeep/data:/data
    env_file:
      - .env
    environment:
      MEILI_ADDR: http://karakeep-meilisearch:7700
      BROWSER_WEB_URL: http://karakeep-chrome:9222
      # OPENAI_BASE_URL: http://llama-cpp:8080/v1
      # OPENAI_API_KEY: sk-dummy-key
      # INFERENCE_TEXT_MODEL: Qwen2.5-Omni-3B-BF16.gguf
      # INFERENCE_IMAGE_MODEL: Qwen2.5-Omni-3B-BF16.gguf
      # INFERENCE_JOB_TIMEOUT_SECONDS: 3000
      # INFERENCE_OUTPUT_SCHEMA: plain
      # INFERENCE_ENABLE_AUTO_SUMMARIZATION: true
      DATA_DIR: /data 
    networks:
      - default
      - caddy_network

  karakeep-chrome:
    container_name: karakeep-chrome
    image: gcr.io/zenika-hub/alpine-chrome:124
    restart: unless-stopped
    command:
      - --no-sandbox
      - --disable-gpu
      - --disable-dev-shm-usage
      - --remote-debugging-address=0.0.0.0
      - --remote-debugging-port=9222
      - --hide-scrollbars

  karakeep-meilisearch:
    container_name: karakeep-meilisearch
    image: getmeili/meilisearch:v1.13.3
    restart: unless-stopped
    env_file:
      - .env
    environment:
      MEILI_NO_ANALYTICS: "true"
      MEILI_MASTER_KEY: ${MEILI_MASTER_KEY}
    volumes:
      - /opt/dockerdata/karakeep/meilisearch:/meili_data

networks:
  caddy_network:
    external: true
    name: caddy_network
